			
			<ol id="commentlist">
			{% for comment in comments %}
			{% if comment.lineno %}
			<li class="comment line-{{comment.lineno}}">
				<dl>
			    <dt>
					{% if comment.user %}
						 <a href="{{code.get_absolute_url}}#line-{{comment.lineno}}" class="linelink">line {{comment.lineno}}</a> <a href="{{comment.user.get_absolute_url}}">{{comment.name}}</a> <span class="meta"> {{ comment.date|timesince }} ago</span>
					{% else %}
						 <a href="{{code.get_absolute_url}}#line-{{comment.lineno}}" class="linelink">line {{comment.lineno}}</a> {{comment.name}} <span class="meta">{{ comment.date|timesince }} ago</span>
					{% endif %}
				</dt>
				<dd>
					{{comment.comment}}
				</dd>
			    </dl>
			</li>
			{% else %}
			<li class="comment">
				<dl>
			    <dt>
					{% if comment.user %}
						<a href="{{comment.user.get_absolute_url}}">{{comment.name}}</a> <span class="meta"> {{ comment.date|timesince }} ago</span>
					{% else %}
						{{comment.name}} <span class="meta"> {{ comment.date|timesince }} ago</span>
					{% endif %}
				</dt>
				<dd>
					{{comment.comment}}
				</dd>
				</dl>
			</li>
			{% endif %}
			{% endfor %}
			</ol>
			{% if form %}
			<form method="post" action="" id="commentform" >
				{{ form.as_p }}
				<input type="submit">
			</form>
			{% endif %}