{% extends "base.html" %}

{% block title_block %}code-detail{% endblock %}

{% block content %}

	{% include "code/code_meta.html" %}
	<div id="page-content">
	   	<div id="lineoverlay">
		</div>
		<div id="comments">
		</div>
		<div class="showhide">
	        <a href="" title="" style="display:block">Hide Meta</a>
	        <a href="" title="" style="display:none">Show Meta</a>
	    </div>
		{{ code.highlight|safe }}
		{% if diff_list %}
			<ul>
			{% for diff in diff_list %}
				<li><a href={{ diff.get_absolute_url }}>{{ diff.title }}</a></li>
			{% endfor%}
			</ul>
	    {% endif%}	
		
	</div>     


{% endblock %}