{% extends "base.html" %}

{% block title_block %}code-comments{% endblock %}

{% block content %}

	{% include "code/code_meta.html" %}
	<div id="page-content">
		<div class="showhide">
	        <a href="" title="" style="display:block">Hide Meta</a>
	        <a href="" title="" style="display:none">Show Meta</a>
	    </div>
		<ol id="commentlist">
		{% for comment in comments %}
			{% if comment.lineno%}
				{% include "comments/line_comment.html" %}
			{% else %}
			<li class="comment">
				<dt>
					{% if comment.user %}
						<a href="{{code.user.get_absolute_url}}">{{comment.author}}</a> said {{ comment.date|timesince }} ago:
					{% else %}
						{{comment.author}} said {{ comment.date|timesince }} ago:
					{% endif %}
				</dt>
				<dd>{{comment.comment}}</dd>
			</li>
			{% endif %}
		{% endfor %}
		</ol>
		<form method="post" action="" id="commentform" >
		{{ form.as_p }}
		<input type="submit">
	</div>
{% endblock %}