			
            <ol id="commentlist">
			{% for comment in comments %}
			{% if comment.lineno %}
            <li class="comment line-{{comment.lineno}}">
				<dt>
					{% if comment.user %}
						<a href="{{comment.user.get_absolute_url}}">{{comment.author}}</a> ripped <a href="{{code.get_absolute_url}}#line-{{comment.lineno}}">line {{comment.lineno}}</a> apart {{ comment.date|timesince }} ago:							
					{% else %}
						{{comment.author}} ripped <a href="{{code.get_absolute_url}}#line-{{comment.lineno}}">line {{comment.lineno}}</a> apart {{ comment.date|timesince }} ago:
					{% endif %}
				</dt>
				<dd>
					{{comment.comment}}
				</dd>
			</li>
            {% else %}
            <li class="comment">
				<dt>
					{% if comment.user %}
						<a href="{{comment.user.get_absolute_url}}">{{comment.author}}</a> said {{ comment.date|timesince }} ago:							
					{% else %}
						{{comment.author}} said {{ comment.date|timesince }} ago:
					{% endif %}
				</dt>
				<dd>
					{{comment.comment}}
				</dd>
			</li>
            {% endif %}
			{% endfor %}
			</ol>
            <form method="post" action="" id="commentform" >
                {{ form.as_p }}
                <input type="submit">
            </form>